body {
    background-image: url('../img/fondo_difuminado_login.jpg');
}

.titleCss {
    color: white;
}

.welcomemessage {
    color: tomato;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cart-total {
    margin-bottom: 20px;
}

#total {
    font-weight: bold;
}

.btn-buy {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-buy:hover {
    background-color: #495057;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
}

.card {
    width: 30vw;
    margin: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-details {
    text-align: center;
}

.card-details p {
    margin: 8px 0;
}

.btn-remove,
.btn-decrement,
.btn-increment {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #343a40;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn-remove:hover,
.btn-decrement:hover,
.btn-increment:hover {
    background-color: #495057;
}
