/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del formulario */
  #AddMessageToChat {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #AddMessageToChat input[type="email"],
  #AddMessageToChat input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #AddMessageToChat button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #AddMessageToChat button:hover {
    background-color: #45a049;
  }
  
  /* Estilos del chat en vivo */
  #LiveChat {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 50px;
  }
  
  #LiveChat p {
    margin: 10px 0;
  }
  
  /* Estilos para el título */
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 20px;
  }
  