body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 20px;
    color: red; /* Cambia el color del texto a rojo */
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5733; /* Cambia el color de fondo del botón */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  