
<h1>My E-commerce 😎</h1>

<p>¡Bienvenido al Ecommerce, si has llegado hasta aqui es porque lograste loggearte!</p>
<p>Para empezar a conocer la pagina utiliza los links de la barra de navegacion
</p>