<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Bienvenido a nuestra tienda de computación</h1>
        <p class="value-prop">Encuentra todo lo que necesitas para potenciar tu experiencia digital</p>
        <p class="sub-title">Explora nuestra amplia selección de productos</p>
        <p class="copy">Descubre los últimos modelos de laptops, PC de escritorio, periféricos, componentes y mucho más, todo al mejor precio y con la calidad que necesitas para tus tareas diarias, trabajo o entretenimiento. ¡No esperes más para mejorar tu setup!</p>

        <a href="/products" class="cta-btn">¡Compra ahora!</a>
        <div class="image-container">
            <img src="https://smarts.com.ar/wp-content/uploads/2023/09/WEB-BANNER-SMARTS-1920X640.webp" alt="Imagen del producto">
        </div>
    </div>
</body>
</html>
