<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecimiento de Contraseña</title>
</head>
<body>
  <h1>Restablecer Contraseña</h1>

  {{#if tokenExpired}}
    <p>El enlace de restablecimiento de contraseña ha caducado. Por favor, solicita un nuevo enlace.</p>
    <a href="/forgot-password">Solicitar nuevo enlace de restablecimiento</a>
  {{else}}
    <form id="reset-password-form" method="post" action="/reset-password/{{token}}">
      <!-- Agregar el campo oculto para enviar el token -->
      <input type="hidden" name="token" value="{{token}}">
      <input type="password" name="newPassword" placeholder="Nueva Contraseña">
      <button type="submit">Restablecer Contraseña</button>
    </form>
  {{/if}}

  <script>
    // Obtener el token de la URL
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    const tokenExpired = {{ tokenExpired }};

    if (tokenExpired) {
      // Ocultar el formulario de restablecimiento si el token ha expirado
      document.getElementById('reset-password-form').style.display = 'none';
    }
  </script>
</body>
</html>
