<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Ya Existe</title>
    <link rel="stylesheet" href="/styles/signUp-emailFailure.css">
</head>
<body>
    <div class="card-container">
        <div class="card">
            <h2>Email Ya Existe</h2>
            <p>El correo electrónico proporcionado ya está registrado. Por favor, intenta usar una dirección de correo electrónico diferente o inicia sesión si ya tienes una cuenta.</p>
            <a href="/signUp" class="boton">Registrarse</a>
        </div>
    </div>
</body>
</html>
