<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de Pago</title>
  <link rel="stylesheet" href="/style/success-payment.css">
</head>
<body>
  <div class="container">
    <h1>Pago Confirmado</h1>
    <p>¡Gracias por tu pago! Tu transacción ha sido procesada con éxito.</p>
    <p>Detalles del pago:</p>
    
    <h2>Recibirás un correo electrónico con la confirmación y los detalles adicionales.</h2>
    <a href="/" class="button">Volver al Sitio Web</a>
  </div>
</body>
</html>
